.todo-list {
  background: #000;
  color: #fff;
  padding: 16px;
  border-radius: 12px;
}

.todo-list p {
  margin-bottom: 8px;
}

.todo-list ul {
  list-style: none;
}

.todo-list li {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
